@define-mixin bdr-box-all {
    &, * {
        box-sizing: border-box;
    }
}
@define-mixin hover {
    &:hover {
        cursor: pointer;
    }
}
@define-mixin clear-both-after {
    &:after {
        display: block;
        height: 0;
        overflow: hidden; 
        content: '';
        clear: both;
    }
}

$utils_cpt_padding: 5px;
$utils_cpt_spacing: 0.5em;